.admin-main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 70%;
  padding: 20px 0;
  gap: 20px;
  flex: 1;
}

.admin-main-screen section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-main-screen input[type='text'] {
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  width: 300px;
  padding: 5px 10px;
  margin: 0 5px;
}
