.home-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  padding: 20px 0;
}

.home-screen section header {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-gray);
}

.home-screen h1 {
  font-size: 1.3em;
  font-weight: bold;
}

.ad img {
  width: 100%;
  height: 200px;
}

.more-projects header {
  display: flex;
  justify-content: space-between;
}

.more-projects main {
  padding: 50px 0;
}

.more-projects__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.more-projects__item img {
  width: 200px;
  height: 150px;
}

.more-projects__item h3 {
  font-weight: bold;
  font-size: 1.1em;
}

.more-projects__item small {
  font-size: 0.9em;
  color: var(--light-gray);
}
