.project-add-modal-screen {
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 15px 2px var(--light-gray);
  height: 75%;
  width: 65%;
  padding: 20px;
}

.project-add-modal-screen::backdrop {
  background-color: lightgray;
  opacity: 0.2;
}

.project-add-modal__form {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto 30px 30px 30px auto 80px;
  align-items: center;
}

.add-modal__title {
  border: none;
  outline: none;
  font-size: 3em;
  font-weight: 700;
  grid-column: 1/-1;
}

.add-modal__title::placeholder {
  color: var(--light-gray);
}

.project-add-modal__form label {
  justify-self: center;
  font-weight: 700;
}

.project-add-modal__form input:not(.add-modal__title) {
  grid-column: span 2;
  width: 80%;
  min-width: 100px;
}

.project-add-modal__form span {
  grid-column: 4/-1;
  font-size: 0.8em;
  color: red;
}

.add-modal__content {
  grid-column: span 9;
  resize: none;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 3px 1px var(--light-gray);
}

.add-modal__content::placeholder {
  color: var(--light-gray);
}

.project-add-modal-screen button {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px 1px var(--light-gray);
  font-weight: 700;
  font-size: 1.2em;
  color: var(--dark-gray);
  border: none;
}

.project-add-modal-screen button:hover {
  box-shadow: 0 0 2px 2px lightgrey;
}

.project-add-modal-screen button:active {
  transform: translateY(2px);
}

.add-modal__submit {
  grid-column: 4/5;
}

.add-modal__cancel {
  grid-column: 6/7;
}
