<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>noAFK | 회원관리</title>
    <link rel="stylesheet" href="css/admin.css" />
  </head>
  <body>
    <header id="hd">
      <div id="hd_top">
        <div id="logo">
          <a href="/adminUser">어드민 페이지</a>
        </div>

        <div id="tnb">
          <ul>
            <li class="tnb_li">
              <a href="/adminUser" class="tnb_service">회원관리</a>
            </li>
            <li class="tnb_li">
              <a href="/adminUser" class="tnb_service">공고관리</a>
            </li>
            <li class="tnb_li_logout">
              <a href="/adminUser" class="tnb_service">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div id="wrapper">
      <div id="container" class="container-small">
        <h1 id="container_title">회원관리</h1>
        <div class="container_wr">
          <div class="local_ov01 local_ov">
            <span class="btn_ov01"
              ><span class="ov_txt">총회원수 </span><span class="ov_num"></span
            ></span>
          </div>

          <form
            id="fsearch"
            name="fsearch"
            class="local_sch01 local_sch"
            method="get"
          >
            <label for="sfl" class="sound_only">검색대상</label>
            <select name="sfl" id="sfl">
              <option value="mb_email">이메일</option>
              <option value="mb_nick">닉네임</option>
            </select>
            <label for="stx" class="sound_only"
              >검색어<strong class="sound_only"> 필수</strong></label
            >
            <input
              type="text"
              name="stx"
              value=""
              id="stx"
              required
              class="required frm_input"
            />
            <input type="submit" class="btn_submit" value="검색" />
          </form>

          <form
            name="fmemberlist"
            id="fmemberlist"
            action="./member_list_update.php"
            onsubmit="return fmemberlist_submit(this);"
            method="post"
          >
            <div class="tbl_head01 tbl_wrap">
              <table>
                <thead>
                  <tr>
                    <th scope="col" class="user_list_id td_mng_s">회원번호</th>
                    <th scope="col" class="user_list_email">이메일</th>
                    <th scope="col" class="user_list_nickname">닉네임</th>
                    <th scope="col" class="user_list_introduction">자기소개</th>
                    <th scope="col" class="user_list_test_result">성격유형</th>
                    <th scope="col" class="user_list_expired_at">
                      멤버쉽 만료일
                    </th>
                    <th
                      scope="col"
                      class="user_list_auth_level"
                      class="td_mng_s"
                    >
                      권한등급
                    </th>
                    <th scope="col" class="user_list_control td_mng_s">관리</th>
                  </tr>
                </thead>
                <tbody id="usersList"></tbody>
              </table>
            </div>
          </form>
        </div>
        <footer id="ft">
          <p>Copyright &copy; noAFK All rights reserved.<br /></p>
        </footer>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        getUserList();
      });

      function getUserList() {
        $.ajax({
          type: 'GET',
          url: '/users',
          data: {},
          success: function (response) {
            let rows = response;
            let allUserCount = rows.length;
            $('.ov_num').append(allUserCount);
            for (let i = 0; i < rows.length; i++) {
              let userId = rows[i]['id'];
              let email = rows[i]['email'];
              let nickname = rows[i]['nickname'];
              let introduction = rows[i]['introduction'];
              let test_result = rows[i]['test_result'];
              let expired_at = rows[i]['expired_at'];
              let auth_level = rows[i]['auth_level'];
              if (0 === test_result && null === expired_at) {
                let test_result = '미완료';
                let expired_at = '미가입';
                appendTempHtml(
                  userId,
                  email,
                  nickname,
                  introduction,
                  test_result,
                  expired_at,
                  auth_level
                );
              } else if (0 !== test_result && null === expired_at) {
                let expired_at = '미가입';
                appendTempHtml(
                  userId,
                  email,
                  nickname,
                  introduction,
                  test_result,
                  expired_at,
                  auth_level
                );
              } else if (0 === test_result && null !== expired_at) {
                let test_result = '미완료';
                appendTempHtml(
                  userId,
                  email,
                  nickname,
                  introduction,
                  test_result,
                  expired_at,
                  auth_level
                );
              } else {
                appendTempHtml(
                  userId,
                  email,
                  nickname,
                  introduction,
                  test_result,
                  expired_at,
                  auth_level
                );
              }
            }
          },
        });
      }

      function appendTempHtml(
        userId,
        email,
        nickname,
        introduction,
        test_result,
        expired_at,
        auth_level
      ) {
        let temp_html = `<tr class="block${auth_level}">
                          <td headers="user_list_id" class="user_id">${userId}</td>
                          <td headers="user_list_email" class="user_email">${email}</td>
                          <td headers="user_list_nickname" class="user_nickname">
                            ${nickname}
                          </td>
                          <td
                            headers="user_list_introduction"
                            class="user_introduction"
                          >
                          ${introduction}
                          </td>
                          <td
                            headers="user_list_test_result"
                            class="user_test_result"
                          >
                          ${test_result}
                          </td>
                          <td headers="user_list_expired_at" class="user_expired_at">
                            ${expired_at}
                          </td>
                          <td headers="user_list_auth_level" class="user_auth_level">
                            ${auth_level}
                          </td>
                          <td headers="user_list_control" class="user_control">
                            <a class="btn btn_03" onclick="blockUser(${userId})">차단</a>
                            <a class="btn btn_02" onclick="deleteUser(${userId})">삭제</a>
                          </td>
                        </tr>`;
        $('#usersList').append(temp_html);
      }

      function blockUser(userId) {
        $.ajax({
          type: 'PATCH',
          url: `/users/${userId}`,
          data: {},
          success: function (response) {
            alert(response['message']);
            location.reload();
          },
        });
      }

      function deleteUser(userId) {
        $.ajax({
          type: 'DELETE',
          url: `/users/${userId}`,
          data: {},
          success: function (response) {
            alert(response['message']);
            location.reload();
          },
        });
      }
    </script>
  </body>
</html>
