<!DOCTYPE html>
<html lang="en">
  <head>
    <title>noAFK | 유저조회</title>
    <link rel="stylesheet" href="/./css/members.css" />
  </head>
  <body>
    <header id="head">
      <div id="head-top">
        <div id="top-menu">
          <ul>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">NoAFK</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">모집공고</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">팀</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">프로젝트</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">유저조회</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">내팀</a>
            </li>
          </ul>
        </div>
        <div id="top-menu-right">
          <ul>
            <li class="top-menu-list-logout">
              <a href="#" class="top-menu-list-a">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>

  <!-- <script src="/./js/members.js"></script> -->
</html>
