<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <title>noAFK | 유저조회</title>
    <link rel="stylesheet" href="/./css/members.css" />
  </head>
  <body>
    <header id="head">
      <div id="head-top">
        <div id="top-menu">
          <ul>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">NoAFK</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">모집공고</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">팀</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">프로젝트</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">유저조회</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">내팀</a>
            </li>
          </ul>
        </div>
        <div id="top-menu-right">
          <ul>
            <li class="top-menu-list-logout">
              <a href="#" class="top-menu-list-a">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div id="wrapper">
      <div id="container">
        <div class="container_wr">
          <form id="fsearch" class="local_sch01 local_sch">
            <select name="sfl" id="sfl">
              <option value="user_email">이메일</option>
              <option value="user_nick">닉네임</option>
              <option value="user_mbti">성격유형</option>
            </select>
            <input
              type="text"
              name="stx"
              id="stx"
              placeholder="검색어를 입력하세요"
              required
              class="required frm_input"
            />
            <input type="submit" value="검색" class="btn_submit" />
          </form>

          <div class="user_wr">
            <div class="user-card">
              <div class="user-card-body">
                <div class="d-flex bd-highlight">
                  <div class="order-1 p-2 bd-highlight">
                    <h5>[닉네임]</h5>
                  </div>
                  <div class="order-2 p-2 flex-grow-1 bd-highlight">
                    <h6>(이메일)</h6>
                  </div>
                  <div class="order-3 p-2 bd-highlight">
                    <h5>[MBTI]</h5>
                  </div>
                </div>
                [자기소개 들어갈 내용자기소개 들어갈 내용자기소개 들어갈
                내용자기소개 들어갈 내용자기소개 들어갈 내용자기소개 들어갈
                내용자기소개 들어갈 내용자기소개 들어갈 내용자기소개 들어갈
                내용자기소개 들어갈 내용자기소개 들어갈 내용]
              </div>
              <img
                src="https://avatars.githubusercontent.com/u/64995762?v=4"
                class="ml-3"
                alt="..."
              />
            </div>
            <div class="user-card">
              <img
                src="https://avatars.githubusercontent.com/u/64995762?v=4"
                class="ml-3"
                alt="..."
              />
              <div class="user-card-body">
                <div class="d-flex bd-highlight">
                  <div class="order-1 p-2 bd-highlight">
                    <h5>[닉네임]</h5>
                  </div>
                  <div class="order-2 p-2 flex-grow-1 bd-highlight">
                    <h6>(이메일)</h6>
                  </div>
                  <div class="order-3 p-2 bd-highlight">
                    <h5>[MBTI]</h5>
                  </div>
                </div>
                [자기소개 들어갈 내용자기소개 들어갈 내용자기소개 들어갈
                내용자기소개 들어갈 내용자기소개 들어갈 내용자기소개 들어갈
                내용자기소개 들어갈 내용자기소개 들어갈 내용자기소개 들어갈
                내용자기소개 들어갈 내용자기소개 들어갈 내용]
              </div>
            </div>
          </div>

          <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination-wrap"></ul>
          </nav>
        </div>
        <footer id="ft">
          <p>Copyright &copy; noAFK All rights reserved.<br /></p>
        </footer>
      </div>
    </div>
  </body>
  <script src="/./js/members.js"></script>
</html>
