<section>
  <div id="myteam-title">{{teamName}}</div>
</section>
<script>
  //   $.ajax({
  //     type: 'GET',
  //     url: window.location.pathname,
  //     success: function (response) {
  //       const { teamName, projectStatus, memberListHasNickname } = response;
  //       console.log(teamName, projectStatus, memberListHasNickname);
  //     },
  //   });

  //   fetch(window.location.pathname, {
  //     headers: {
  //       Accept: 'application / json',
  //     },
  //   })
  //     .then((response) => response.json())
  //     .then((data) => {
  //       console.log(data);
  //       const teamTitleHTML = `<h1>${data.teamName}</h1>`;
  //       console.log(document.querySelector('#myteam-title'));
  //       document.querySelector('#myteam-title').innerHTML = teamTitleHTML;
  //     });
</script>
