<section id="myteam__project-status">
  <h2 id="myteam__project-status__title">프로젝트 현재 진행 상태</h2>
  <div>{{projectStatus}}</div>
  <div id="myteam__project-status__buttons">
    <button class="status-btn" data-num="0" onclick="updateTeamStatus(0)">
      모집마감</button
    ><span class="myteam__project-status__arrow">➡️</span
    ><button class="status-btn" data-num="1" onclick="updateTeamStatus(1)">
      준비</button
    ><span class="myteam__project-status__arrow">➡️</span
    ><button class="status-btn" data-num="2" onclick="updateTeamStatus(2)">
      진행중</button
    ><span class="myteam__project-status__arrow">➡️</span
    ><button class="status-btn" data-num="3" onclick="updateTeamStatus(3)">
      테스트</button
    ><span class="myteam__project-status__arrow">➡️</span
    ><button class="status-btn" data-num="4" onclick="updateTeamStatus(4)">
      프로젝트 종료
    </button>
  </div>
</section>
