<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/myTeamList.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{pageTitle}} | NoAFK</title>
  </head>
  <body>
    {% include "partials/page-header.html"%}
    <main id="myTeamList__main">
      <section>
        <h2>참가중인 팀</h2>
        {% set status = ['모집중', '모집마감', '준비', '진행중', '테스트',
        '종료'] %} {% for myTeam in myTeamList %} {% if myTeam.status !== 0 %}
        <div
          onclick="goTeamPage({{myTeam.id}})"
          id="row-{{myTeam.id}}"
          class="myTeamList__row"
        >
          <div class="myTeamList__name">
            <span>팀명: </span>{{myTeam.teamName}}
          </div>
          <div class="myTeamList__techStack">
            <span>기술스택: </span>{{myTeam.techStack}}
          </div>
          <div class="myTeamList__status">
            <span>상태: </span>{{status[myTeam.status]}}
          </div>
          <div class="myTeamList__createdAt">
            <span>생성일: </span>{{myTeam.createdAt}}
          </div>
        </div>
        {% endif %} {% endfor %}
      </section>
      <section>
        <h2>참가 신청한 팀</h2>
        {% for applyTeamArray in applyTeamList %} {% for applyTeam in
        applyTeamArray %}
        <div
          onclick="goProjectPage({{applyTeam.id}})"
          id="applyTeam-{{applyTeam.id}}"
          class="applyTeam__row"
        >
          <div class="applyTeam__title">
            <span>공고제목: </span>{{applyTeam.title}}
          </div>
          <div class="applyTeam__teamName">
            <span>팀이름: </span>{{applyTeam.teamName}}
          </div>
          <div class="applyTeam__owner">
            <span>등록자: </span>{{applyTeam.User.nickname}}
          </div>
          <div class="applyTeam__techStack">
            <span>기술스택: </span>{{applyTeam.techStack}}
          </div>
          <div class="applyTeam__recruitDeadline">
            <span>모집마감: </span>{{applyTeam.recruitDeadline}}
          </div>
        </div>
        {% endfor %} {% endfor %}
      </section>
    </main>
    {% include "partials/page-footer.html"%}
    <script
      src="https://kit.fontawesome.com/d1f609d41d.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function goTeamPage(teamId) {
        location.href = `/teams/${teamId}`;
      }

      function goProjectPage(projectId) {
        location.href = `/projects/${projectId}`;
      }
    </script>
  </body>
</html>
