<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>noAFK | 공고상세보기</title>
    <link rel="stylesheet" href="./css/test.css" />
    <link rel="stylesheet" href="./css/projectDetail.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>
    <header id="head">
      <div id="head-top">
        <div id="top-menu">
          <ul>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">NoAFK</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">모집공고</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">팀</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">프로젝트</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">유저조회</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">내팀</a>
            </li>
          </ul>
        </div>
        <div id="top-menu-right">
          <ul>
            <li class="top-menu-list-logout">
              <a href="#" class="top-menu-list-a">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="project-detail-box">
      <div class="project-detail-border">
        <div id="project-board"></div>

        <div class="detail-apply project-detail-border" id="apply-list">
          apply-list
        </div>
        <div class="detail-chat project-detail-border" id="detail-comment">
          <textarea>로그인 후 이용 가능합니다.</textarea><button>작성</button>
        </div>
        <div
          class="detail-comment project-detail-border"
          id="detail-comment-list"
        ></div>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', GetProjectDetail);
    const projectId = Number(window.location.pathname.split('/')[1]);

    const GetProjectDetail = async () => {
      const project = await fetch(`/projects/${projectId}`, {
        method: 'GET',
      });

      document.getElementById('userData').innerHTML = '';
      let tempHtml = ``;

      tempHtml += `
      <div class="detail-top project-detail-border">
          <div class="detail-title" id="title">title</div>
          <div class="detail-leader" id="leader">leader</div>
        </div>
        <div class="detail-middle project-detail-border">
          <div class="detail-three">
            <div
              class="detail-person project-detail-border detail-margin detail-padding"
              id="person"
            >
              person
            </div>
            <div
              class="detail-deadline project-detail-border detail-margin detail-padding"
              id="deadline"
            >
              deadline
            </div>
            <div
              class="detail-period project-detail-border detail-margin detail-padding"
              id="period"
            >
              period
            </div>
          </div>
          <div class="detail-stack project-detail-border" id="stack">stack</div>
          <div class="detail-content project-detail-border" id="content">
            content
          </div>
      `;

      $('#project-board').append(tempHtml);
    };
  </script>
</html>
