{% extends 'base.html' %} {% block content %}
<main class="main-screen projects-screen">
  <section>
    <header>
      <h1>모집 중인 프로젝트</h1>
    </header>
    <ul id="projectsBox" class="project-list">
      {% for project in projects %}
      <li>
        <a href="/projects/{{project.id}}">
          <h1>{{project.title}}</h1>
          <pre>{{project.content}}</pre>
          <div>
            <h4>등록자</h4>
            <span id="owner">{{project['User.nickname']}}</span>
            <h4>등록일</h4>
            <span id="createdAt">{{project.createdAt}}</span>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <button id="projectAddBtn" class="projectAddBtn">공고 등록</button>
  </section>
  {% include "partials/project-add-modal.html" %}
</main>
<script>
  const owner = '{{user.id}}';
  const site = 'projects';
  const search = '{{search}}';
  let cursor = '{{nextCursor}}';
</script>
<script src="js/cursorPagination.js"></script>
<script src="js/projectAddModal.js"></script>
{% endblock%}
