<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>noAFK | 공고상세보기</title>
    <link rel="stylesheet" href="/css/test.css" />
    <link rel="stylesheet" href="/css/projectDetail.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>
    <header id="head">
      <div id="head-top">
        <div id="top-menu">
          <ul>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">NoAFK</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">모집공고</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">팀</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">프로젝트</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">유저조회</a>
            </li>
            <li class="top-menu-list">
              <a href="#" class="top-menu-list-a">내팀</a>
            </li>
          </ul>
        </div>
        <div id="top-menu-right">
          <ul>
            <li class="top-menu-list-logout">
              <a href="#" class="top-menu-list-a" id="logout">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="project-detail-box">
      <div class="project-detail-border">
        <div id="project-board">
          <div class="detail-top project-detail-border">
            <div class="detail-title" id="title">
              <h1>프로젝트 '{{project[0].title}}'</h1>
            </div>
            <div class="detail-owner" id="owner">
              <p>by {{project[0].owner}}</p>
              <div>
                {% if project[0].owner === loginUserNickname %}
                <button id="edit-board-btn" type="button">수정</button>
                <dialog id="projectEditModal">
                  <form method="dialog">
                    <label for="title">프로젝트 명</label>
                    <input
                      type="text"
                      name="title"
                      id="edit-title"
                      placeholder="공고 제목을 입력하세요."
                      value="{{project[0].title}}"
                    />
                    <label for="content">프로젝트 내용</label>
                    <input
                      type="text"
                      name="content"
                      id="edit-content"
                      placeholder="공고 내용을 입력하세요."
                      value="{{project[0].content}}"
                    />
                    <label for="techStack">기술 스택</label>
                    <input
                      type="text"
                      name="techStack"
                      id="edit-techStack"
                      placeholder=", 로 구분해주세요."
                      value="{{project[0].techStack}}"
                    />
                    <label for="person">인원</label>
                    <input
                      type="number"
                      name="person"
                      id="edit-person"
                      min="1"
                      value="{{project[0].person}}"
                    />
                    <br />
                    <label for="recruitDeadline">마감기한</label>
                    <input
                      type="datetime-local"
                      name="recruitDeadline"
                      id="edit-recruitDeadline"
                      value="{{project[0].recruitDeadline}}"
                    />
                    <label for="projectStart">프로젝트 시작일</label>
                    <input
                      type="datetime-local"
                      name="projectStart"
                      id="edit-projectStart"
                      value="{{project[0].projectStart}}"
                    />
                    <label for="projectEnd">프로젝트 종료일</label>
                    <input
                      type="datetime-local"
                      name="projectEnd"
                      id="edit-projectEnd"
                      value="{{project[0].projectEnd}}"
                    />
                    <button value="register">등록</button>
                    <button value="cancel">취소</button>
                  </form>
                </dialog>
                <button id="delete-board-btn" type="button">삭제</button>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="detail-middle project-detail-border">
            <div class="detail-three">
              <div
                class="detail-person detail-margin detail-padding"
                id="person"
              >
                <p>모집인원 : {{project[0].person}}</p>
              </div>
              <div
                class="detail-deadline detail-margin detail-padding"
                id="deadline"
              >
                <p>모집마감 : {{project[0].recruitDeadline}}</p>
              </div>
              <div
                class="detail-period detail-margin detail-padding"
                id="period"
              >
                <p>
                  프로젝트 기간 : {{project[0].projectStart}} ~
                  {{project[0].projectEnd}}
                </p>
              </div>
            </div>
            <div class="detail-stack project-detail-border" id="tech-stack">
              <p>스택 요구사항 : {{project[0].techStack}}</p>
            </div>
            <div class="detail-content project-detail-border" id="content">
              <p>프로젝트 설명 : {{project[0].content}}</p>
            </div>
          </div>
        </div>

        <div class="detail-apply project-detail-border">
          {% for apply in applyUsers %}
          <li class="apply-list" id="{{apply.id}}">
            {{apply.nickname}} {% if project[0].owner === loginUserNickname %}
            <button id="accept-btn" type="button">수락</button>
            {% endif %}
          </li>
          {% endfor %}
        </div>

        {% if loginUserId %}
        <div class="detail-chat project-detail-border" id="detail-comment">
          <textarea id="create-comment">이곳에 댓글을 작성해주세요.</textarea
          ><button id="create-comment-btn" type="button">작성</button>
        </div>
        {% endif %}
        <div
          class="detail-comment project-detail-border"
          id="detail-comment-list"
        >
          {% for comment in comments %}
          <li class="comment-list" id="{{comment.id}}">
            <input
              type="text"
              id="new-comment"
              value="{{comment.content}}"
              required
            />{{comment.createdAt}} {% if comment.userId === loginUserId %}
            <button id="edit-comment-btn" type="button">수정</button
            ><button id="delete-comment-btn" type="button">삭제</button>
            {% endif %}
          </li>
          {% endfor %}
        </div>
      </div>
      <div>
        {% if project[0].owner !== loginUserNickname %}
        <button id="apply-btn" type="button">신청하기</button>
        {% endif %}
      </div>
    </div>
  </body>
  <script>
    const projectId = Number(window.location.pathname.split('/')[2]);
    const commnetList = document.querySelectorAll('.comment-list');
    const applyList = document.querySelectorAll('.apply-list');
    const createCommentBtn = document.getElementById('create-comment-btn');
    const deleteBoardBtn = document.getElementById('delete-board-btn');
    const applyBtn = document.getElementById('apply-btn');
    const logoutBtn = document.getElementById('logout');

    applyList.forEach((apply) => {
      const acceptBtn = apply.querySelector('#accept-btn');
      if (acceptBtn) {
        const userId = apply.id;

        acceptBtn.addEventListener('click', () => {
          acceptUser(userId);
        });
      }
    });

    commnetList.forEach((comment) => {
      const editCommentBtn = comment.querySelector('#edit-comment-btn');
      const deleteCommentBtn = comment.querySelector('#delete-comment-btn');
      const commentId = comment.id;

      if (editCommentBtn && deleteCommentBtn) {
        editCommentBtn.addEventListener('click', () => {
          const content = comment.querySelector('#new-comment').value;
          editComment(content, commentId);
        });
        deleteCommentBtn.addEventListener('click', () => {
          deleteComment(commentId);
        });
      }
    });

    if (createCommentBtn) {
      createCommentBtn.addEventListener('click', () => {
        createComment();
      });
    }

    if (applyBtn) {
      applyBtn.addEventListener('click', () => {
        apply();
      });
    }

    if (deleteBoardBtn) {
      deleteBoardBtn.addEventListener('click', () => {
        deleteBoard();
      });
    }

    logoutBtn.addEventListener('click', () => {
      logout();
    });

    // 댓글 생성
    const createComment = async () => {
      const content = document.getElementById('create-comment').value;

      await fetch(`/projects/${projectId}/comments`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ content }),
      });

      window.location.reload();
    };

    // 댓글 수정
    const editComment = async (content, commentId) => {
      await fetch(`/projects/${projectId}/comments/${commentId}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ content }),
      });
      window.location.reload();
    };

    // 댓글 삭제
    const deleteComment = async (commentId) => {
      await fetch(`/projects/${projectId}/comments/${commentId}`, {
        method: 'DELETE',
      });

      window.location.reload();
    };

    // 로그아웃
    const logout = async () => {
      await fetch('/api/auth/logout');

      window.location.replace('/login');
    };

    // 참가 신청 수락
    const acceptUser = async (userId) => {
      await fetch(`/projects/${projectId}/applys/${userId}`, {
        method: 'PATCH',
      });

      window.location.reload();
    };

    // 참가 신청
    const apply = () => {
      fetch(`/projects/${projectId}/applys`, {
        method: 'POST',
      })
        .then((response) => response.json())
        .then((data) => {
          alert(data.message);
        });

      window.location.reload();
    };

    // 게시글 삭제
    const deleteBoard = async () => {};
  </script>
  <script src="/js/projectEditModal.js"></script>
</html>
