.allteam-screen {
  width: 70%;

  flex: 1;
}

.allteam-screen section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.allteam-screen__table-box {
  display: flex;
  justify-content: center;
}

.allteam-screen table {
  margin: 20px 0;
  border-collapse: collapse;
}

.allteam-screen thead {
  background-color: var(--scroll-drag-color);
}

.allteam-screen th,
.allteam-screen td {
  border: 1px solid var(--light-gray);
  padding: 10px;
  line-height: 16px;
}

.more-team {
  align-self: center;
  padding: 5px 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  font-weight: 700;
}
