* {
  margin: 0;
  padding: 0;
}

.text-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 30%;
  border: 1px solid;
}

.join-box {
  width: 30%;
  border: 1px solid;
}

.add-box {
  margin-top: 10px;
}

.form-margin {
  margin: 20px;
}

.form-margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.kakaoLogin img {
  margin: 5% auto;
  width: 40%;
  height: 60%;
}

.login-button {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: transparent;
  padding: 2px;
}

.join-button {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 2px;
}
