.my-team-list-screen {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.my-team-list-screen > section {
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  height: 170px;
  margin-bottom: 20px;
  overflow-y: auto;
}

/*스크롤바*/
.section::-webkit-scrollbar {
  width: 10px;
}

/*스크롤바의 드래그 핸들*/
.section::-webkit-scrollbar-thumb {
  background-color: var(--scroll-drag-color);
  border-radius: 5px;
}

/*스크롤바 트랙*/
.section::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}

.myTeamList__section > h2 {
  font-size: 20px;
  font-weight: bold;
}

.myTeamList__row {
  display: flex;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 5px 2px #fae1dd;
  background-color: #fae1dd;
  border-radius: 5px;
  cursor: pointer;
}

.myTeamList__row > div {
  padding: 0px 10px;
}

.myTeamList__row span {
  color: gray;
}

.myTeamList__none {
  display: flex;
  padding: 20px;
  margin: 20px;
}

.applyTeam__section > h2 {
  font-size: 20px;
  font-weight: bold;
}

.applyTeam__row {
  display: flex;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 5px 2px #b9fbc0;
  background-color: #b9fbc0;
  border-radius: 5px;
  cursor: pointer;
}

.applyTeam__row > div {
  padding: 0px 10px;
}

.applyTeam__row span {
  color: gray;
}

.applyTeam__none {
  display: flex;
  padding: 20px;
  margin: 20px;
}

.hostTeam__section > h2 {
  font-size: 20px;
  font-weight: bold;
}

.hostTeam__row {
  display: flex;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 5px 2px #ade8f4;
  background-color: #ade8f4;
  border-radius: 5px;
  cursor: pointer;
}

.hostTeam__row > div {
  padding: 0px 10px;
}

.hostTeam__row span {
  color: gray;
}

.hostTeam__none {
  display: flex;
  padding: 20px;
  margin: 20px;
}
