body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: ghostwhite;
}

section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 15px 0px;
}

tr {
  padding: 10px;
  border: 2px solid black;
}

thead th {
  font-size: large;
  padding: 10px;
  border: 2px solid black;
}

tbody th {
  color: #3333337c;
  padding: 10px;
  border: 2px solid black;
}

#myteam-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
}

#myteam__memberList {
  font-size: 12px;
}

thead th {
  font-size: 16px;
  height: 20px;
}

tr th {
  font-size: 12px;
  padding: 0px 10px;
}

#myteam__searching-new {
  width: 650px;
}

#myteam__searching-new > div {
  align-self: flex-end;
}

#myteam__project-status {
  padding: 10px;
  border: 2px solid black;
}

#myteam__project-status__title {
  padding: 5px;
}

h2#myteam__project-status__title {
  font-size: 16px;
}

#myteam__project-status__buttons {
  padding: 0px 20px;
}

.myteam__project-status__arrow {
  padding: 0px 20px;
}

#myteam__footer {
  width: 650px;
}

#myteam__footer > div {
  align-self: flex-end;
}

.now_team_status {
  border: 5px solid red;
}
