body {
  background: ghostwhite;
}

#myteam-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100vh;
  margin: 0 auto;
}

thead th {
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  height: 20px;
  padding: 10px;
  border: 2px solid black;
  background: rgba(255, 182, 193, 0.2);
}

tbody th {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #3333337c;
  padding: 0px 10px;
  border: 2px solid black;
}

.myteam__memberList__config-btn > div {
  display: inline-block;
  padding: 5px;
}

#myteam__memberList {
  font-size: 12px;
}

#myteam__searching-new {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#myteam__searching-new input {
  margin: 10px;
}

#myteam__searching-new button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: lightpink;
  cursor: pointer;
}

#myteam__project-status {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid black;
}

#myteam__project-status__title {
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
}

#myteam__project-status__buttons {
  padding: 0px 20px;
}

.myteam__project-status__arrow {
  padding: 0px 20px;
}

#myteam__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.now_team_status {
  border: 5px solid red;
}

.leader-display.authority {
  display: none;
}
