:root {
  --light-gray: #ced4da;
  --gray: #adb5bd;
  --dark-gray: #495057;
  --scroll-drag-color: #e9ecef;
  --kakao-bg-color: #fada0a;
  --kakao-color: #3a1d1d;
  --naver-bg-color: #03c75a;
  --google-bg-color: #f1f3f4;
  --github-bg-color: #24292f;
}
