<footer class="page-footer">
  <nav>
    <ul>
      <li>
        <span>NoAFK</span>
      </li>
      <li>
        <a href="https://github.com/rsl150101/NoAFK/tree/dev" target="_blank"
          >NoAFK 소개</a
        >
      </li>
      <li>
        <a href="https://forms.gle/6Jj3eYuvWENxRN926" target="_blank">피드백</a>
      </li>
      <!-- todo <김우중> <2023.03.26> : 추후 페이지 배포 시 추가할 사항 -->
      <!-- <li><a href="#">자주 찾는 질문</a></li> -->
      <!-- <li><a href="#">고객센터</a></li> -->
    </ul>
  </nav>
  <small>NoAFK Corp. All Rights Reserved.</small>
</footer>
